controller:
  config:
    images:
      source:
        type: "docker"
        registry: "registry.hub.docker.com"
        repository: "lsstsqre/sciplat-lab"
    lab:
      env:
        AUTO_REPO_URLS: "https://github.com/lsst-uk/rsp-uk-notebooks"
        AUTO_REPO_BRANCH: "main"
        AUTO_REPO_SPECS: "https://github.com/lsst-uk/rsp-uk-notebooks@main"
        RSP_SITE_TYPE: "3dparty"
        S3_ENDPOINT_URL: "http://10.0.1.179:9000"
      homedirSchema: "initialThenUsername"
      homeVolumeName: "sdf-home"
      # nodeSelector:
      #   edu.stanford.slac.sdf.project/rsp: "true"
      nss:
        # Add rubin_users group (there is not yet a simpler way to do this).
        baseGroup: |
          root:x:0:
          daemon:x:1:
          bin:x:2:
          sys:x:3:
          adm:x:4:
          tty:x:5:
          disk:x:6:
          lp:x:7:
          mail:x:8:
          news:x:9:
          uucp:x:10:
          man:x:12:
          proxy:x:13:
          kmem:x:15:
          dialout:x:20:
          fax:x:21:
          voice:x:22:
          cdrom:x:24:
          floppy:x:25:
          tape:x:26:
          sudo:x:27:
          audio:x:29:
          dip:x:30:
          www-data:x:33:
          backup:x:34:
          operator:x:37:
          list:x:38:
          irc:x:39:
          src:x:40:
          shadow:x:42:
          utmp:x:43:
          video:x:44:
          sasl:x:45:
          plugdev:x:46:
          staff:x:50:
          games:x:60:
          users:x:100:
          _ssh:x:101:
          rubin_users:x:4085:
          nogroup:x:65534:

      # pullSecret: "pull-secret"
      # secrets:
      #   - secretName: "nublado-lab-secret"
      #     secretKey: "aws-credentials.ini"
      #   - secretName: "nublado-lab-secret"
      #     secretKey: "postgres-credentials.txt"
      standardInithome: true #false
      volumes:
        - name: "sdf-home"
          source:
            type: "persistentVolumeClaim"
            storageClassName: "sdf-home"
            accessModes:
              - "ReadWriteMany"
            resources:
              requests:
                storage: "1Gi"
        - name: "sdf-group-rubin"
          source:
            type: "persistentVolumeClaim"
            storageClassName: "sdf-group-rubin"
            accessModes:
              - "ReadWriteMany"
            resources:
              requests:
                storage: "1Gi"
        - name: "sdf-data-rubin"
          source:
            type: "persistentVolumeClaim"
            storageClassName: "sdf-data-rubin"
            accessModes:
              - "ReadWriteMany"
            resources:
              requests:
                storage: "1Gi"
        - name: "sdf-scratch"
          source:
            type: "persistentVolumeClaim"
            storageClassName: "sdf-scratch"
            accessModes:
              - "ReadWriteMany"
            resources:
              requests:
                storage: "1Gi"
      volumeMounts:
        - containerPath: "/home"
          volumeName: "sdf-home"
        - containerPath: "/project"
          subPath: "g"
          volumeName: "sdf-group-rubin"
        - containerPath: "/sdf/group/rubin"
          volumeName: "sdf-group-rubin"
        - containerPath: "/sdf/data/rubin"
          volumeName: "sdf-data-rubin"
        - containerPath: "/scratch"
          volumeName: "sdf-scratch"

proxy:
  ingress:
    annotations:
      nginx.ingress.kubernetes.io/proxy-connect-timeout: "50s"
      nginx.ingress.kubernetes.io/proxy-read-timeout: "50s"
      nginx.ingress.kubernetes.io/client-max-body-size: "50m"

hub:
  internalDatabase: true

jupyterhub:
  hub:
    db:
      upgrade: true

secrets:
  templateSecrets: false

helm:
  repos:
    jupyterhub: https://hub.jupyter.org/helm-chart/
